<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- Font Awesome kit -->
  <link rel="stylesheet" href="/icons/css/fontawesome.min.css">
  <link rel="stylesheet" href="/icons/css/solid.min.css">
  <link rel="stylesheet" href="/icons/css/brands.min.css">


  <!-- CSS -->
  <link rel="stylesheet" href="/css/header.css" />
</head>

<body>
  <%- include('../partials/header') %>

    <section class="cart-page">
      <h2>Your Cart</h2>

      <% if (cart.length===0) { %>
        <p>Your cart is empty</p>
        <a href="/">Continue Shopping</a>
        <% } %>

          <% if (cart.length> 0) { %>
            <% cart.forEach(item=> { %>
              <div class="cart-item">
                <p>
                  <%= item.name %> (<%= item.weight %>)
                </p>
                <p>₹<%= item.price %> × <%= item.quantity %>
                </p>

                <form action="/cart/remove" method="POST">
                  <input type="hidden" name="productId" value="<%= item.productId %>">
                  <button type="submit">Remove</button>
                </form>
              </div>
              <% }) %>
                <% } %>
    </section>

    <%- include('../partials/burgerMenu') %>
      <script src="/javascript/header.js"></script>
</body>

</html>