<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

   <%- include('../partials/link') %>
   <link rel="stylesheet" href="/css/profile.css" />
   
</head>

<body>
    <%- include('../partials/header') %>

    <% if (!isLoggedIn) { %>
  <section class="profile-guest">

    <div class="profile-visual">
      <img src="assets/login.jpg" alt="Login required">
    </div>

    <div class="profile-content">
      <h2>You are not logged in</h2>
      <p>Please login to access your profile.</p>

      <div class="profile-actions">
        <a href="/login">Login</a>
        <a href="/register">Register</a>
      </div>
    </div>

  </section>
<% } %>


    <% if (isLoggedIn && userData) { %>
      <section class="profile-user">
         <h2>My Profile</h2>

         <p><strong>Email:</strong> <%= userData.email %></p>
         <p><strong>Name:</strong> <%= userData.name || "—" %></p>
         <p><strong>Phone:</strong> <%= userData.phone || "—" %></p>
      </section>
    <% } %>


      
    <%- include('../partials/burgerMenu') %>
      
   <script src="/javascript/header.js"></script>
</body>

</html>